.events-container {
  display: flex;
  height: 100vh;
}

app-side-bar {
  width: 250px;
  background-color: #222;
  color: white;
  padding: 20px;
}

.events-content {
  flex: 1;
  padding: 20px;
  background: #f8f9fa;
  overflow-y: auto;
}
